@page "/"
@inject NavigationManager UriHelper

@using VisNetwork.Blazor.Models
<html>
	<body>
		<h1>Index</h1>
	<Button  Color="Color.Primary" @onclick="OnClick">PLAYER VS PLAYER</Button>
	<Button   Color="Color.Primary" @onclick="OnClickAi">PLAYER VS AI</Button>
	
	</body>
</html>



@code {
	private string parameter;
	private void OnClick()
	{
		parameter = "player";
		UriHelper.NavigateTo($"play/{parameter}");
	}
	private void OnClickAi()
	{
		parameter = "ai";
		UriHelper.NavigateTo($"play/{parameter}");
	}
}
