@page "/"
@inject NavigationManager UriHelper




	
	
	<div class="columns  is-mobile is-centered ">
		<div class="column is-half"><p class="title is-1 has-text-centered">Bisimulation</p></div>
	</div>
	<div class="columns is-mobile is-centered ">
		<div class="column is-half"><h2 class="subtitle is-1 has-text-centered">Game</h2></div>
	</div>
	<div class="columns  is-mobile is-centered is-multiline ">
	<div class="column is-narrow">
		<button class="button is-primary " @onclick="OnClick">PLAYER VS PLAYER</button>
	</div>
	<div class="column is-narrow">
		<button class="button is-primary" @onclick="OnClickAi">PLAYER VS AI</button>
	</div>
	</div>
	




@code {
	private string parameter;
	private void OnClick()
	{
		parameter = "player";
		UriHelper.NavigateTo($"play/{parameter}");
	}
	private void OnClickAi()
	{
		parameter = "ai";
		UriHelper.NavigateTo($"play/{parameter}");
	}
}
